*~
*.a
*.la
*.o
*.tar.*

.deps
.libs
.cache

*.diff
*.orig
*.patch
*.rej

aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
compile_commands.json

/metalog.lsm
/metalog.spec
/man/metalog.8
/man/metalog.conf.5
/src/metalog
