/00gnulib.m4
/alloca.m4
/asm-underscore.m4
/dirent_h.m4
/dup2.m4
/environ.m4
/errno_h.m4
/exponentd.m4
/exponentf.m4
/exponentl.m4
/extensions.m4
/fcntl-o.m4
/fcntl.m4
/fcntl_h.m4
/float_h.m4
/fpieee.m4
/frexp.m4
/frexpl.m4
/getdtablesize.m4
/getopt.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/include_next.m4
/intmax_t.m4
/inttypes-pri.m4
/inttypes.m4
/inttypes_h.m4
/isnand.m4
/isnanf.m4
/isnanl.m4
/ldexpl.m4
/longlong.m4
/malloc.m4
/math_h.m4
/memchr.m4
/mmap-anon.m4
/msvc-inval.m4
/multiarch.m4
/nocrash.m4
/pathmax.m4
/poll.m4
/poll_h.m4
/printf-frexp.m4
/printf-frexpl.m4
/printf-posix-rpl.m4
/printf.m4
/putenv.m4
/select.m4
/signal_h.m4
/signbit.m4
/size_max.m4
/snprintf-posix.m4
/snprintf.m4
/socketlib.m4
/sockets.m4
/socklen.m4
/sockpfaf.m4
/ssize_t.m4
/stdarg.m4
/stdbool.m4
/stddef_h.m4
/stdint.m4
/stdint_h.m4
/stdio_h.m4
/stdlib_h.m4
/strdup.m4
/string_h.m4
/strtoull.m4
/sys_select_h.m4
/sys_socket_h.m4
/sys_stat_h.m4
/sys_time_h.m4
/sys_types_h.m4
/sys_uio_h.m4
/sys_wait_h.m4
/time_h.m4
/unistd_h.m4
/vasnprintf.m4
/vfprintf-posix.m4
/vsnprintf-posix.m4
/vsnprintf.m4
/warn-on-use.m4
/wchar_h.m4
/wchar_t.m4
/wint_t.m4
/xsize.m4
